@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
  letter-spacing: -0.05em; /* Rozstaw -5 */
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; /* Extra Bold */
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.logo-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.logo-container img {
  height: 60px; /* Dopasuj wysokość logo */
}
